/* Base text */
body {
  font-size: 12px;  /* Adjust base font size */
}

/* Headings */
h1, .section.level1 {
  font-size: 28px;
}
h2, .section.level2 {
  font-size: 24px;
}
h3, .section.level3 {
  font-size: 22px;
}

/* Code chunks */
pre, code {
  font-size: 14px;
}
